<!DOCTYPE html>
<html lang="en">

<head>

 	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>{{title}}</title>
	
	<link href="http://fonts.googleapis.com/css?family=Yantramanav:400,300,500,700|Martel+Sans:400,300,700,800|Khula:400,300,700,800" rel="stylesheet" type="text/css" />
	<link href="assets/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

	<div class="container">{{{body}}}</div>

	<div class="container-fluid">{{>footer}}</div>

	<script type="text/javascript" src="assets/js/lib.js"></script>
	<script type="text/javascript" src="assets/js/script.js"></script>

</body>
</html>